{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="{% static 'img/logoctu.jpg' %}" alt="AdminLTE Logo" class="brand-image  elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Admin Home</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="#" class="d-block">Admin</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
            
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            List<i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{% url 'redirect:Account_list' %}" class="nav-link" id="accountListSideBar">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Danh sách tài khoản</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'redirect:Deal_list' %}" class="nav-link"  id="PassDealSideBar">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Duyệt đơn hàng</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'redirect:Product_list' %}" class="nav-link " id="productListSideBar">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Cập nhật hàng hóa</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'redirect:Add_product' %}" class="nav-link " id="addProductSideBar">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Thêm hàng hóa</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'redirect:Group_list' %}" class="nav-link " id="groupListSideBar">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Nhóm hàng hóa</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'redirect:Add_group' %}" class="nav-link " id="addGroupSideBar">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Thêm nhóm hàng hóa</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>